.intrix_open {
    cursor: pointer;
    background: var(--intrix_color_second);
    color: #fff;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 0 15px;
    /* transition: 3s ease-in-out; */
}

.intrix_model_main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    /* -webkit-overflow-scrolling: touch; */
    outline: 0;
    opacity: 0;
    /* transition: opacity 0.15s linear, z-index 0.15; */
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.intrix_model_open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.intrix_model_inner {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}


.intrix_open {
    cursor: pointer;
    background: var(--intrix_color_second);
    color: #fff;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 0 15px;
    /* transition: 3s ease-in-out; */
}

.intrix_model_main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    /* -webkit-overflow-scrolling: touch; */
    outline: 0;
    opacity: 0;
    /* transition: opacity 0.15s linear, z-index 0.15; */
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.intrix_model_open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.intrix_model_inner {
    transform: translate(0, -25%);
    transition: transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}

/* ---- popup inner content ---- */

.intrix_model_wrap {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    position: absolute;
    width: auto;
    /* 676px */
    height: auto;
    /*  436px */
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 80px;
    background: #FFFFFF;
    border-radius: 8px;
    background-clip: padding-box;
}

.intrix_model_open .intrix_model_inner {
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.intrix_model_open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.intrix_bg_overlay {
    background: var(--intrix_color_second);
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: 0.15s linear;
}

.intrix_close {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    line-height: 30px;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.intrix_wrap_header {
    width: 100%;
    height: 33px;
    line-height: 33px;
    text-align: left;
    /* identical to box height */
    letter-spacing: 0.5px;
    color: #2D333A;
    /* Inside auto layout */
    display: flex;
    justify-content: space-between;
    flex: none;
    order: 0;
    box-sizing: border-box;
}

.intrix_wrap_header h3 {
    width: 90%;
    font-family: poppins;
    margin: 0;
}

.intrix_form {
    display: flex;
    flex-wrap: wrap;
}

.intrix_form_text {
    width: 48.5%;
    margin: 6px auto;
    display: flex;
    flex-wrap: wrap;
}

.intrix_form_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.intrix_form_btn2 {
    width: 100%;
    font-weight: 500 !important;
    color: var(--intrix_color_light);
    padding: 12px 16px !important;
    background: var(--intrix_color_second);
}

.intrix_btn {
    color: var(--intrix_color_light);
    background: var(--intrix_color_second);
}

.intrix_form_btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 97%;
    /* 100% */
    height: 48px;
}

.intrix_btn2 {
    color: var(--intrix_text_color) !important;
    background: var(--intrix_color_light) !important;
}

.intrix_sc_btn {
    background: transparent;
    color: var(--intrix_color_second);
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.intrix_sc_btn {
    width: 140px;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;

}