.schedule_over {
    cursor: pointer;
    background: var(--intrix_color_second);
    color: #fff;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 0 0 0 15px;
    /* transition: 3s ease-in-out; */
}
.status_btn{
    width:86px;
    height:30px;
    border-radius: 50px;
    font-family: poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
}
.status_btn.clr1{
    color: #c39904;
    background: rgba(239, 188, 7, 0.2);
}
.status_btn.clr2{
    color: #2D333A;
    background: rgba(45, 51, 58, 0.08);
}
.status_btn.clr3{
    color: #F44E06;
    background: rgba(244, 78, 6, 0.1);
}
.status_btn.clr4{
    color: #009761;
    background: rgba(0, 151, 97, 0.1);
}
.side_panel{
    height: 767px!important;
}