.data_table_row th:first-child {
    width: 10%;
}

.data_table_row_col_2 {
    width: 75%;
}

.data_table_row th:last-child {
    width: 15%;
}

.data_table {
    width: 95%;
    margin: auto;
    overflow-x: auto;
    /* height: 600px; */
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #eee;
    border-top: none !important;
}

.data_table table {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 13px;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

.data_table tr {
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
}

.data_table tr th {
    /* width: 12.5%; */
    padding: 12px 10px;
    text-align: left;
}

.data_table tr th i {
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 6px;
    margin-left: 6px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}

.data_table tr td {
    width: 12.5%;
    padding: 8px 10px;
}

.data_table tr td i {
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 6px;
    margin-left: 6px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}

.data_table tr:first-child {
    background-color: var(--intrix_color_accent);
}

.data_table tr {
    background-color: var(--intrix_color_light);
}

.data_action {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.data_action li {
    margin: 0px 6px;
}

.data_action li img {
    vertical-align: middle;
}

.data_action li {
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.data_table tr .data_prevbtn {
    width: 94%;
    height: 30px;
    background-color: #fff;
    border: 1.5px solid #000;
    border-radius: 3px;
}

.dash_footer {
    width: 95%;
    margin: 0 auto;
}

.dash_foot_inn {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8px 0;
    background-color: var(--intrix_color_light);
}

.dash_foot_head {
    margin-right: 6px;
}

.dash_foot_nav_count {
    padding: 6px 10px;
    border: 1px solid rgba(45, 51, 58, 0.6);
    border-radius: 5px;
    margin-right: 15px;
}

.intrix_pagination {
    display: flex;
}

.intrix_pagination a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    color: var(--intrix_color_second);
    /* width: 32px; */
    height: 29px;
    border-radius: 4px;
}

.intrix_pagination a.active {
    background-color: var(--intrix_color_second);
    color: var(--intrix_color_light);
    border: 1px solid var(--intrix_color_second);
}

.intrix_pagination a:hover:not(.active) {
    background-color: var(--intrix_color_light);
}

.data_table tr .data_prevbtn {
    width: 94%;
    height: 30px;
    background-color: #fff;
    border: 1.5px solid #000;
    border-radius: 3px;
}

.data_prevbtn{
    position: absolute;
    top:8px;
    right: 15px;
    width:100px !important;
}

.data_btns{
    width:100%;
    display: flex;
    justify-content: end;
    margin-top: 18px;
    margin-bottom: 18px;
}

.data_btns .run_btn{
    width:6%;
    height:32px;
    background-color: #fff;
    border:1px solid #000;
    border-radius: 3px;
    font-family: poppins;
    margin-right: 18px;
    outline:none;
}

.data_btns .sche_btn{
    width:10%;
    height:32px;
    background-color: #fff;
    border:1px solid #000;
    border-radius: 3px;
    font-family: poppins;
    margin-right: 18px;
    outline: none;
}